{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>登录 - 蜜芽，中国领先的进口母婴限时特卖商城</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}"/>
{#    <link rel="stylesheet" href="{% static 'css/zhuye.css' %}">#}

</head>
<body>
<!--主体内容-->
<div class="register">
    <div class="zcLogo">
        <a href="{% url 'ma:index' %}">
            <img src="{% static 'img/miya.jpg' %}"/>
        </a>
    </div>
    <div class="bjtp">
        <img src="{% static 'img/fgtp.png' %}"/>
    </div>
    <div class="zhuce">
        <div class="zhuceTop">
            <span class="zctLeft">登入蜜芽</span>
            <span class="zctRight">
						<i>还没有蜜芽账号？</i>
						<a href="{% url 'ma:register' %}" target="_blank">30秒注册</a>
					</span>
        </div>

        <!--表单-->
        <form class="form" action="{% url 'ma:register' %}" method="post">
            {% csrf_token %}
            <div class="yan">
                 <input type="text" placeholder="手机号" class="text" name="tel"/>
            </div>
            <input type="text" class="text" placeholder="用户名" name="username"/>
            <input type="password" class="pass" placeholder="密码" name="password"/>
            <input type="password" class="pass" placeholder="确认密码" name="u_password"/>
            <p class="kong">{{ err }}</p>
            <p class="jieshou">
                <input checked="checked" id="agreeuser" type="checkbox" class="gou">我已阅读并接受<span>《蜜芽服务条款》</span>
            </p>
            <p class="tiqiao">
{#                <a href="{% url 'ma:index' %}" class="go" id="come">注册</a>#}
                <input type="submit" class="go" value="注册">
            </p>
        </form>
    </div>
</div>

<!--尾部-->
<div class="reglast">
    Copyright ©2016 北京花旺在线商贸有限公司 Miyabaobei.com 保留一切权利。客服热线： 400-789-2000。京ICP证140430号 京ICP备14006215号
</div>
</body>
</html>